{% extends 'base.html.twig.' %}

{% block title "Agence Lorem Ipsum" %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, quasi soluta! Accusantium autem blanditiis
            commodi cumque dicta eveniet explicabo nemo nisi placeat, possimus praesentium provident veniam, voluptas.
            Ad, harum, voluptates?
        </p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('property.show', {id: property.id, slug: property.slug})}}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formatedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}